.todo-list-item--label {
    cursor: pointer;
}

.todo-list-item--important {
    font-weight: 700;
}

.todo-list-item--done {
    text-decoration: line-through;
}

.todo-list-item--icon {
    width: 15px;
    height: 15px;
    line-height: 1;
    opacity: .25;
    transition: opacity 1s, filter 1s;
    filter: grayscale(1);
}

.todo-list-item:hover .todo-list-item--icon {
    transition-duration: 0.3s;
    filter: grayscale(0);
    opacity: 1;
}